@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC');

body {
	background-color: #433123;
	font-family: 'Noto Sans TC', sans-serif;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  }

#overlay {
	width: 90%;
	margin: 3% auto;
	background-color: #f2ebe1;
	border-radius: 40px;
	padding-bottom: 10px;
}

#overlay hr{
	margin-top: 0;
	border-bottom: 0px;
}

header {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	height: 80px;
}

h1 {
	color: #333333;
	font-size: 35px;
	margin: auto;
	margin-inline-start: 10px;
}

col {
	flex: auto;
	margin: 10px;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
	background:  #372d23;
	color: #f2ebe1;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	
}

tr {
  background: #ffffff;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 10px;
	text-align: left;
	width: auto;
	
}

.td1 {
	width: 20%
}

.td2 {
	width: 80%;
}
